.jumbotron {
    display: flex !important;
    margin: auto;
    padding-bottom: 6rem !important;
}

.container {
    margin: auto;
    text-align: center;
}

.nav-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav-text {
    color: #ffffff;
    text-decoration: none !important;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}
.nav-text:hover {
    color: #D4AF37 !important;
}
