.navbar {
    background-color: unset !important;
    padding: 0 !important;
}

.navbar-nav {
    margin-left: auto !important;
    display: block;
    position: absolute;
    top: 40px;
    right: 0px;
}

.navbar-toggler {
    margin-right: 10px;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 0;
    margin-bottom: auto;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 22px;
    background-color: #ffffff;
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}
.navbar-brand:hover {
    color: #16293f !important;
}

.nav-link {
    font-family: 'Permanent Marker', cursive;
    color: #16293f !important;
    /**color: #16293f !important; */
    font-size: 25px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    background-color: rgba(255, 255, 255) !important;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 140px;
}
.nav-link:hover {
    color: #D4AF37 !important;
}

@media(max-width: 800px) {
    .navbar-nav {
        position: unset !important;
        float: right;
    }
    .nav-item {
        border-radius: 0.35rem;
    }
    .navbar-collapse {
        position: absolute;
        right: 0;
        top: 50px;
    }
}